@import url('./css/media.css') screen;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}

button:active, button:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}

/*section-home*/

#section-home {
    color: white;
    background-image: url('../jpeg/Home_Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.logo {
    font-size: 24px;
    font-family: Montserrat;
    font-weight: bolder;
    letter-spacing: 0.35px;
}

.logo a {
    color: white;
}

.nav-item a {
    color: white;
    font-family: Montserrat;
    font-size: 14px;
    letter-spacing: 0.35px;
}

.middle{
    margin: auto auto;
}
.welcome h1 {
    text-align: center;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 0.7px;
    color: #ffffff !important;
}

.welcomeP {
    text-align: center;
    padding-top: 0.5%;
    font-family: "Roboto Slab";
    opacity: 0.9;
    font-size: 20px;
    letter-spacing: 0.5px;
    color: white;
}

.getstart{
    margin-top: 2%;
    width: 180px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 2px solid white;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 16px;
}

.getstart:active {
    background-color:#ffffff;
    color: black;
    border: none;
}

.start {
    text-align: center;
}
/*section-service*/
.services h3 {
    width: 100%;
    text-align: center;
    color: #555555;
    font-family: Montserrat;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 5%;
    position: relative;
}

.services h3:after {
    width: 50px;
    height: 2px;
    background: #555555;
    display: block;
    content: " ";
    position: absolute;
    left: 50%;
    margin-left: -25px;
    bottom: -30px;
}

.paragraph-1 h4 {
    text-align: center;
    padding-top: 5%;
    width: 100%;
    height: 17px;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 16px;
}

.typography,
.code,
.support {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.typography h3,
.code h3,
.support h3 {
    text-align: center;
    color: #555555;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 7%;
}

.typography p,
.code p,
.support p {
    padding-top: 24px;
    text-align: center;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 14px;
    padding-bottom: 10%;
}

/*section-about*/

#section-about {
    padding-top: 5%;
    background-color: #f8f8f8;
    width: 100%;
}

.about-us h3 {
    text-align: center;
    color: #555555;
    font-family: Montserrat;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
}

.about-us h3:after {
    width: 50px;
    height: 2px;
    background: #555555;
    display: block;
    content: " ";
    position: absolute;
    left: 50%;
    margin-left: -25px;
    bottom: -30px;
}

.paragraph-2 h4 {
    text-align: center;
    padding-top: 5%;
    width: 100%;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 16px;
}

.paragraphs {
    padding-bottom: 5%;
}

.paragraph-3 {
    padding-top: 5%;
    text-align: left;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 14px;
    margin-bottom: 2%;
}

.paragraph-4 {
    padding-top: 5%;
    text-align: justify;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 14px;
    margin-bottom: 2%;
}

/*uikit slaider start*/
.worker{
	background: #000000;
}

.worker img {
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    position: relative;
    width: 100%;
    height: 100%;
}

.worker:hover img {
    opacity: .8;
}

.worker a{
    display: none;
}

.worker:hover .google{
    display: block;
    position: absolute;
    width: 10% !important;
    left:65px;
    bottom:100px;
}

.worker:hover .linkedin{
    display: block;
    position: absolute;
    width: 10% !important;
    left:95px;
    bottom:100px;
}

.worker:hover .twitter{
    display: block;
    position: absolute;
    width: 10% !important;
    left:125px;
    bottom:100px;
    opacity: 2;
}

.worker:hover .facebook{
    display: block;
    position: absolute;
    width: 10% !important;
    left:155px;
    bottom:100px;
}

.uk-card-body-small h3{
    padding-top:0%;
    text-align: center;
    color: #555555;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat';
}

.uk-card-body-small p{
color: #555555;
font-family: "Roboto Slab";
font-size: 13px;
text-align: center;
padding-bottom:5%;
}

polyline{
    color: #ffffff;
    position: absolute;
}

.uk-slidenav-previous{
    background:#55555580;
    margin-top:-40px;
    margin-left: 0px;
}
.uk-slidenav-previous:hover{
    padding:5px 10px;
    background:#c0301c;
}

.uk-slidenav-next{
    background:#55555580;
    margin-top:-40px;
    margin-right: 0px;
}
.uk-slidenav-next:hover{
    padding:5px 10px;
    background:#c0301c;
}

.social-logo{
    text-align: center;
    padding-bottom:30px;
}

/*uikit slaider end*/

/*latestworks*/

.latestworks h3 {
    text-align: center;
    color: #555555;
    font-family: Montserrat;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 5%;
    position: relative;
}

.latestworks h3:after {
    width: 50px;
    height: 2px;
    background: #555555;
    display: block;
    content: " ";
    position: absolute;
    left: 50%;
    margin-left: -24px;
    bottom: -30px;
}

.uk-subnav {
    padding-top:3%;
    padding-bottom: 5%;
}

.uk-subnav a{
    color: #555555 !important ;
    font-family: "Roboto Slab" !important;
    font-size: 16px !important;
    text-transform: capitalize !important;
}

.uk-subnav a:hover{
    color:#c0301c !important;
}

.js-filter{
    padding-bottom: 2%;
}

.uk-grid-margin{
    margin-top: 2% !important;
}

.uk-card .latest {
    background: #c0301c;
}

.uk-card .latest img {
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    position: relative;
    width: 100%;
    height: 100%;
}

.uk-card .latest:hover img {
    opacity: .3;
}

.viewmore{
    display: none;
}

figure:hover .viewmore{
    display: block;
    color:#c02f1cc0;
    padding:5px 10px !important;
    border:none;
    position: absolute;
    left: 120px !important;
    bottom:100px !important;
    width: 30% !important;
    height: 12% !important;
    background-color:#ffffff;
    font-family: "Roboto Slab";
    font-size: 14px;
    text-transform: uppercase;
}

.viewmore:active {
    box-shadow: 0px 0px 10px 5px rgba(231, 226, 226, 0.747);
}

figure.latest p,
figure.latest h3 {
    display: none;
}

figure.latest:hover h3.hairdresser{
    display: block;
    color:white;
    position: absolute;
    left: 115px !important;
    bottom:160px !important;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

figure.latest:hover p.hairdresser{
    width: 10%;
    display: block;
    color:white;
    position: absolute;
    left: 145px !important;
    bottom:140px !important;
    color: #ffffff;
    font-family: "Roboto Slab";
    font-size: 12px;
    opacity: 1;
    text-align: center;
}

figure.latest:hover h3.bird{
    display: block;
    color:white;
    position: absolute;
    left: 105px !important;
    bottom:160px !important;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

figure.latest:hover p.bird{
    width: 10%;
    display: block;
    color:white;
    position: absolute;
    left: 145px !important;
    bottom:140px !important;
    color: #ffffff;
    font-family: "Roboto Slab";
    font-size: 12px;
    opacity: 1;
    text-align: center;
}

figure.latest:hover h3.workspace{
    display: block;
    color:white;
    position: absolute;
    left: 118px !important;
    bottom:160px !important;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

figure.latest:hover p.workspace{
    width: 10%;
    display: block;
    color:white;
    position: absolute;
    left: 132px !important;
    bottom:140px !important;
    color: #ffffff;
    font-family: "Roboto Slab";
    font-size: 12px;
    opacity: 1;
    text-align: center;
}

figure.latest:hover h3.photographer{
    display: block;
    color:white;
    position: absolute;
    left: 140px !important;
    bottom:160px !important;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

figure.latest:hover p.photographer{
    width: 10%;
    display: block;
    color:white;
    position: absolute;
    left: 145px !important;
    bottom:140px !important;
    color: #ffffff;
    font-family: "Roboto Slab";
    font-size: 12px;
    opacity: 1;
    text-align: center;
}

figure.latest:hover h3.sport{
    display: block;
    color:white;
    position: absolute;
    left: 125px !important;
    bottom:160px !important;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

figure.latest:hover p.sport{
    width: 10%;
    display: block;
    color:white;
    position: absolute;
    left: 145px !important;
    bottom:140px !important;
    color: #ffffff;
    font-family: "Roboto Slab";
    font-size: 12px;
    opacity: 1;
    text-align: center;
}

figure.latest:hover h3.notebook{
    display: block;
    color:white;
    position: absolute;
    left: 140px !important;
    bottom:160px !important;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

figure.latest:hover p.notebook{
    width: 10%;
    display: block;
    color:white;
    position: absolute;
    left: 150px !important;
    bottom:140px !important;
    color: #ffffff;
    font-family: "Roboto Slab";
    font-size: 12px;
    opacity: 1;
    text-align: center;
}

figure.latest:hover h3.business{
    display: block;
    color:white;
    position: absolute;
    left: 133px !important;
    bottom:160px !important;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

figure.latest:hover p.business{
    width: 10%;
    display: block;
    color:white;
    position: absolute;
    left: 135px !important;
    bottom:140px !important;
    color: #ffffff;
    font-family: "Roboto Slab";
    font-size: 12px;
    opacity: 1;
    text-align: center;
}

figure.latest:hover h3.design{
    display: block;
    color:white;
    position: absolute;
    left: 145px !important;
    bottom:160px !important;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

figure.latest:hover p.design{
    width: 10%;
    display: block;
    color:white;
    position: absolute;
    left: 150px !important;
    bottom:140px !important;
    color: #ffffff;
    font-family: "Roboto Slab";
    font-size: 12px;
    opacity: 1;
    text-align: center;
}

figure.latest:hover h3.events{
    display: block;
    color:white;
    position: absolute;
    left: 135px !important;
    bottom:160px !important;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

figure.latest:hover p.events{
    width: 10%;
    display: block;
    color:white;
    position: absolute;
    left: 132px !important;
    bottom:140px !important;
    color: #ffffff;
    font-family: "Roboto Slab";
    font-size: 12px;
    opacity: 1;
    text-align: center;
}

/*companies and feedback*/
#section-companies {
    width: 100%;
    background-color: #f8f8f8;
    padding-top: 2%;
}

.companies {
    text-align: center;
}

.companies img {
    margin: 2%;
}

/*dottenslider*/

.uk-transition-toggle p{
    padding:2% 15%;
    color:#555555;
    text-align: center;
    font-family: "Roboto Slab";
    font-size: 18px;
    font-style: italic;
}

.uk-transition-toggle h3{
    color:#555555;
    text-align: center;
    font-family: "Roboto Slab";
    font-size: 20px;
}

.uk-dotnav li{
    margin-bottom:6%;
}

.uk-dotnav a:hover {
    background-color: #c0301c !important;
}

/*form contacts*/
.getintouch{
    text-align: center;
    color: #555555;
    font-family: Montserrat;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 5%;
    position: relative;
}

.getintouch:after {
    width: 50px;
    height: 2px;
    background: #555555;
    display: block;
    content: " ";
    position: absolute;
    left: 50%;
    margin-left: -24px;
    bottom: -40px;
}

.contact-paragraph{
    text-align: center;
    padding-top: 6%;
    width: 100%;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 16px;
    padding-bottom: 3%;
}

.contacts h3{
    display: inline;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 3%;
    padding-left:5%;
}

.contacts li{
    padding-left:1%;
}

.contacts li, a{
color: #555555;
font-family: "Roboto Slab";
font-size: 12px;
}

.contacts a:hover{
    color:#c0301c;
    text-decoration: none;
}

input:active,
textarea:active {
    border: 1px solid #c0301c;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

input,
textarea{
    width: 100%;
    border: 1px solid #555555;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 12px;
}

textarea{
    min-height: 50px;
}

ul {
    list-style: none;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:30px;
}

.form-name{
    grid-column:1/2;
}

.form-email{
    grid-column:2/4;
    margin-top: 0 !important;
}

.form-subject{
    grid-column:1/2;
}

.company-name{
    grid-column:2/4;
}

.full-width {
    grid-column: 1/4;
}

input,
textarea {
    padding: 1em;
}

.form-button{
    width: 180px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    border:1px solid #555555;
    text-transform: uppercase;
    font-family: "Roboto Slab";
    font-size: 12px;
    color: #555555;
    grid-column:1/2;
    margin-bottom: 30%;
    text-align: center;
}

.form-button:hover, .form-button:focus {
    background: #c0301c;
    color:white;
    border:1px solid #c0301c;
}

.form-button:active{
    box-shadow: 0px 0px 10px 5px rgba(201, 193, 193, 0.747);
}

.note{
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 12px;
    text-align: start;
    grid-column: 2/ 4;
    margin-left: -40% !important;
}

span.star{
    color: #c0301c;
}

/*footer*/
.footer{
    background-color:#c0301c;
    text-align: center;
    height: 307px;
}

.svg-social-media{
    margin-top: 8%;
}

.svg-social-media:after {
    width: 50px;
    height: 2px;
    background: #ffffff;
    display: block;
    content: " ";
    position: absolute;
    left: 50%;
    margin-left: -24px;
    bottom: -40px;
}

.copyright{
    color: #ffffff;
    text-align: center;
    margin-top: 7%;
    text-transform: uppercase;
    font-family: "Roboto Slab";
    font-size: 12px;
}

a.footerlink{
    color: #fff;
    text-decoration: none;
}