@import url('./css/media.css') screen;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}

button:active, button:focus {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}

.section-home {
    color: white;
    background-image: url('../jpeg/Home_Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.logo {
    font-size: 24px;
    font-family: Montserrat;
    font-weight: bolder;
}

.logo a {
    color: white;
}


.nav-item a {
    color: white;
    font-family: Montserrat;
    font-size: 14px;
    letter-spacing: 0.35px;
}

.welcome h1 {
    text-align: center;
    padding-top: 27%;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 0.7px;
}

.welcomeP {
    text-align: center;
    padding-top: 0.5%;
    font-family: "Roboto Slab";
    opacity: 0.9;
    font-size: 20px;
    letter-spacing: 0.5px;
    color: white;
}

button {
    margin-top: 2%;
    width: 180px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 2px solid white;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 16px;
}

.start {
    text-align: center;
}

.services h3 {
    width: 100%;
    text-align: center;
    color: #555555;
    font-family: Montserrat;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 5%;
    position: relative;
}

.services h3:after {
    width: 50px;
    height: 2px;
    background: #555555;
    display: block;
    content: " ";
    position: absolute;
    left: 50%;
    margin-left: -25px;
    bottom: -30px;
}

.paragraph-1 h4 {
    text-align: center;
    padding-top: 5%;
    width: 100%;
    height: 17px;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 16px;
}

.typography,
.code,
.support {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.typography h3,
.code h3,
.support h3 {
    text-align: center;
    color: #555555;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 7%;
}

.typography p,
.code p,
.support p {
    padding-top: 24px;
    text-align: center;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 14px;
    padding-bottom: 10%;
}

.section-about {
    padding-top: 5%;
    background-color: #f8f8f8;
    width: 100%;
}

.about-us h3 {
    text-align: center;
    color: #555555;
    font-family: Montserrat;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
}

.about-us h3:after {
    width: 50px;
    height: 2px;
    background: #555555;
    display: block;
    content: " ";
    position: absolute;
    left: 50%;
    margin-left: -25px;
    bottom: -30px;
}

.paragraph-2 h4 {
    text-align: center;
    padding-top: 5%;
    width: 100%;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 16px;
}

.paragraphs {
    text-align: center;
    padding-bottom: 5%;
}

.paragraph-3 {
    padding-top: 5%;
    text-align: left;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 14px;
    margin-bottom: 2%;
}

.paragraph-4 {
    padding-top: 5%;
    text-align: justify;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 14px;
    margin-bottom: 2%;
}

.work1 h4,
.work2 h4,
.work3 h4,
.work4 h4 {
    text-align: center;
    padding-top: 7%;
    color: #555555;
    font-family: Montserrat;
    font-size: 14px;
    text-transform: uppercase;
}

.work1 p,
.work2 p,
.work3 p,
.work4 p {
    text-align: center;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 13px;
}

.img-fluid:hover {
    background: #000000b6;
    opacity: 0.5;
}

.work1 .img-fluid,
.work2 .img-fluid,
.work3 .img-fluid,
.work4 .img-fluid {
    position: relative;
}

.work1:hover .before,
.work2:hover .before,
.work3:hover .before,
.work4:hover .before {
    background: #222222fa;
    color: white;
    background-size: cover;
}


.carousel-control-prev-icon:active,
.carousel-control-next-icon:active {
    background-color: #c0301c;
    color: white;
}

.carousel-control-prev-icon {
    background-color: #555555ab;
    background-image: url('../svg/prev.svg');
    color: white;
    
}

.carousel-control-prev{
    height: 242px;
    position: absolute;
    margin:0 auto;
    width:3% !important;
}
.carousel-control-next{
    height: 242px;
    position: absolute;
    margin:0 auto;
    width:3% !important;
}

.carousel-control-next-icon {
    background-color: #555555ab;
    background-image: url('../svg/next.svg');
    color: white;
}

.latestworks h3 {
    text-align: center;
    color: #555555;
    font-family: Montserrat;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 5%;
    position: relative;
}

.latestworks h3:after {
    width: 50px;
    height: 2px;
    background: #555555;
    display: block;
    content: " ";
    position: absolute;
    left: 50%;
    margin-left: -24px;
    bottom: -30px;
}

.second-menu a {
    color: #555555;
    text-align: center;
    margin-top: 40px;
    font-family: "Roboto Slab";
    font-size: 16px;
}

.second-menu a:hover {
    color: #c0301c;
}

.projects {
    padding-top: 2%;
    padding-bottom: 2px;
}

.projects img {
    text-align: center;
    padding: 0;
    margin: 0;
    position: relative;
}

.projects:hover .after {
    background: #c02f1cfa;
    color: white;
    background-size: cover;
}
/*companies and feedback*/
.section-companies {
    width: 100%;
    background-color: #f8f8f8;
    padding-top: 2%;
}

.companies {
    text-align: center;
}

.companies img {
    margin: 2%;
}


/*dottenslider*/

.dotten-slider{
    width: 100%;
}

.slaider_02 {
    margin-top: 5%;
    text-align: center;
    color: #555555;
    font-family: "Roboto Slab" italic;
    font-size: 18px;
    transition: 0.5s;
}

.slaider_01 {
    color: #555555;
    font-family: 'Montserrat';
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 5%;
    transition: 0.5s;
}

.carousel-indicators li {
    margin-top: 10%;
    margin-bottom: 5%;
    display: inline;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color:#dddddd;
}

.carousel-indicators li:active {
    background-color: #c0301c;
}

/*form contacts*/
.section-contacts{
    background-color:#ffffff;
}

.getintouch{
    text-align: center;
    color: #555555;
    font-family: Montserrat;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 5%;
    position: relative;
}

.getintouch:after {
    width: 50px;
    height: 2px;
    background: #555555;
    display: block;
    content: " ";
    position: absolute;
    left: 50%;
    margin-left: -24px;
    bottom: -40px;
}

.contact-paragraph{
    text-align: center;
    padding-top: 6%;
    width: 100%;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 16px;
    padding-bottom: 3%;
}

.contacts h3{
    display: inline;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 3%;
    padding-left:5%;
}

.contacts li{
    padding-left:8%;
}

.contacts li, a{
color: #555555;
font-family: "Roboto Slab";
font-size: 12px;
padding-bottom: 5%;
}

.contacts a:hover{
    color:#c0301c;
    text-decoration: none;
}

input:active,
textarea:active {
    border: 1px solid #c0301c;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

input,
textarea{
    width: 100%;
    border: 1px solid #555555;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 12px;
}

ul {
    list-style: none;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:30px;
}
.form-name{
    grid-column:1/2;
}

.form-email{
    grid-column:2/4;
}

.form-subject{
    grid-column:1/2;
}

.company-name{
    grid-column:2/4;
}

.full-width {
    grid-column: 1/4;
}

input,
textarea {
    padding: 1em;
}

.form-button {
    border: 1px solid #555555;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 30%;
    grid-column:1/2;
}

.form-button:hover, .form-button:focus {
    background: #c0301c;
    color:white;
    border:1px solid #c0301c;
}

.note{
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 12px;
    text-align: start;
    grid-column: 2/ 4;
}

span.star{
    color: #c0301c;
}

/*footer*/
.footer{
    background-color:#c0301c;
    text-align: center;
    height: 307px;
}

.svg-twitter{
    margin-top: 8%;
}

.svg-twitter:after {
    width: 50px;
    height: 2px;
    background: #ffffff;
    display: block;
    content: " ";
    position: absolute;
    left: 50%;
    margin-left: -24px;
    bottom: -40px;
}

.copyright{
    color: #ffffff;
    text-align: center;
    margin-top: 7%;
    text-transform: uppercase;
    font-family: "Roboto Slab";
    font-size: 12px;
}