


/*logo*/
@media (max-width: 1200px) {
.logo a{
    font-size:100% ;
    }
}


@media (max-width: 954px) {
.logo a{
    font-size:90% ;
    }
}


@media (max-width: 768px) {
.logo a{
    font-size:80% ;
    }
}

@media (max-width: 576px) {
.logo a{
    font-size:60% ;
    }
}


/* menu*/
@media (max-width: 1200px) {
.nav-item a{
    font-size:100% ;
    }
}


@media (max-width: 954px) {
.nav-item a{
    font-size:90% ;
    }
}


@media (max-width: 768px) {
.nav-item a{
font-size:80% ;
    }
}

@media (max-width: 576px) {
.nav-item a{
    font-size:60% ;
    }
}


/*h1*/
@media (max-width: 1200px) {
.welcome h1{
    font-size:48px ;
    }
}


@media (max-width: 954px) {
.welcome h1{
    font-size:40px;
    }
}


@media (max-width: 768px) {
.welcome h1{
    font-size:35px ;
    }
}

@media (max-width: 576px) {
.welcome h1{
    font-size:15px ;
    }
}

/*welcomeP*/

@media (max-width: 1200px) {
.welcomeP {
    font-size:20px ;
    }
}


@media (max-width: 954px) {
.welcomeP {
    font-size:18px;
    }
}


@media (max-width: 768px) {
.welcomeP {
    font-size:15px ;
    }
}

@media (max-width: 576px) {
    .welcomeP {
    font-size:10px ;
    }
}

/*button*/

@media (max-width: 1200px) {
    button {
    font-size:16px ;
    width: 180px;
    height: 50px;
    }
}


@media (max-width: 954px) {
    button {
    font-size:12px;
    width: 140px;
    height: 40px;
    }
}


@media (max-width: 768px) {
button {
    font-size:10px ;
    width: 100px;
    height: 30px;
    }
}

@media (max-width: 576px) {
    button {
    font-size:8px ;
    width: 80px;
    height: 20px;
    }
}

/*h3 services*/

@media (max-width: 1200px) {
    .services h3 {
    font-size:20px ;
    }
}


@media (max-width: 954px) {
    .services h3 {
    font-size:18px;
    }
}


@media (max-width: 768px) {
    .services h3 {
    font-size:16px ;
    }
}

@media (max-width: 576px) {
    .services h3 {
    font-size:12px ;
    }
}

/*h3 after*/
@media (max-width: 1200px) {
    .services h3:after {
        width: 50px;
        height: 2px;
    }
}


@media (max-width: 954px) {
    .services h3:after {
        width: 40px;
        height: 2px;
        left: 50%;
        margin-left: -20px;
        bottom: -40px; 
    }
}


@media (max-width: 768px) {
    .services h3:after {
        width: 30px;
        height: 2px;
        left: 50%;
        margin-left: -15px;
        bottom: -30px; 
    }
}

@media (max-width: 576px) {
    .services h3:after {
        width: 20px;
        height: 2px;
        left: 50%;
        margin-left: -10px;
        bottom: -25px; 
    }
}

/*paragraph1 section service*/

@media (max-width: 1200px) {
    .paragraph-1 h4 {
        font-size: 16px;
        padding-top:6%;
    }
}


@media (max-width: 954px) {
    .paragraph-1 h4 {
        font-size: 14px; 
        padding-top:7%;
    }
}


@media (max-width: 768px) {
    .paragraph-1 h4 {
        font-size: 12px;
        padding-top:7%;
    }
}

@media (max-width: 576px) {
    .paragraph-1 h4 {
        font-size: 10px;
        padding-top:7%;
    }
}

/*typography*/

@media (max-width: 1200px) {
    .paragraph-1 h4 {
        font-size: 16px;
        padding-top:6%;
    }
}


@media (max-width: 954px) {
    .paragraph-1 h4 {
        font-size: 14px; 
        padding-top:7%;
    }
}


@media (max-width: 768px) {
    .paragraph-1 h4 {
        font-size: 12px;
        padding-top:7%;
    }
}

@media (max-width: 576px) {
    .paragraph-1 h4 {
        font-size: 10px;
        padding-top:7%;
    }
}

/*circle*/

@media (max-width: 1200px) {
    .circle img{
        width: 90px;
        height: 90px;
    }
}


@media (max-width: 954px) {
    .circle img{
        width: 70px;
        height: 70px;
    }
}


@media (max-width: 768px) {
    .circle img{
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 576px) {
    .circle img{
        width: 30px;
        height: 30px;
    }
}

/*typography*/

@media (max-width: 1200px) {
    .typography{
        padding-top: 5%;
    }
}


@media (max-width: 954px) {
    .typography{
        padding-top: 5%;
    }
}


@media (max-width: 768px) {
    .typography{
        padding-top: 5%;
    }
}

@media (max-width: 576px) {
    .typography{
        padding-top: 9%;
    }
}

/*typography h3, code h3, support h3*/

@media (max-width: 1200px) {
    .typography h3, 
    .code h3, 
    .support h3{
        font-size: 14px;
    }
}


@media (max-width: 954px) {
    .typography h3, 
    .code h3, 
    .support h3{
        font-size: 12px;
    }
}


@media (max-width: 768px) {
    .typography h3, 
    .code h3, 
    .support h3{
        font-size: 10px;
    }
}

@media (max-width: 576px) {
    .typography h3, 
    .code h3, 
    .support h3{
        font-size: 8px;
    }
}

/*typography p, code p, support p*/

@media (max-width: 1200px) {
    .typography p, 
    .code p, 
    .support p{
        font-size: 14px;
    }
}


@media (max-width: 954px) {
    .typography p, 
    .code p, 
    .support p{
        font-size: 12px;
    }
}


@media (max-width: 768px) {
    .typography p, 
    .code p, 
    .support p{
        font-size: 10px;
    }
}

@media (max-width: 576px) {
    .typography p, 
    .code p, 
    .support p{
        font-size: 8px;
    }
}

/*about us h3*/

@media (max-width: 1200px) {
    .about-us h3{
        font-size: 20px;
    }
}


@media (max-width: 954px) {
    .about-us h3{
        font-size: 18px;
    }
}


@media (max-width: 768px) {
    .about-us h3{
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .about-us h3{
        font-size: 12px;
    }
}


/*about us h3 after*/

@media (max-width: 1200px) {
    .about-us h3:after {
        width: 50px;
        height: 2px;
    }
}

@media (max-width: 954px) {
    .about-us h3:after {
        width: 40px;
        height: 2px;
        left: 50%;
        margin-left: -20px;
        bottom: -40px; 
    }
}

@media (max-width: 768px) {
    .about-us h3:after{
        width: 30px;
        height: 2px;
        left: 50%;
        margin-left: -15px;
        bottom: -30px; 
    }
}

@media (max-width: 576px) {
    .about-us h3:after {
        width: 20px;
        height: 2px;
        left: 50%;
        margin-left: -10px;
        bottom: -25px; 
    }
}

/*paragraph-2 h4*/

@media (max-width: 1200px) {
    .paragraph-2 h4 {
        font-size: 16px;
        padding-top:6%;
    }
}


@media (max-width: 954px) {
    .paragraph-2 h4{
        font-size: 14px; 
        padding-top:7%;
    }
}


@media (max-width: 768px) {
    .paragraph-2 h4 {
        font-size: 12px;
        padding-top:7%;
    }
}

@media (max-width: 576px) {
    .paragraph-2 h4 {
        font-size: 10px;
        padding-top:7%;
    }
}

/*paragraph 3, paragraph 4*/

@media (max-width: 1200px) {
    .paragraph-3 ,
    .paragraph-4 {
        font-size: 14px;
    }
}


@media (max-width: 954px) {
    .paragraph-3 ,
    .paragraph-4 {
        font-size: 12px;
    }
}


@media (max-width: 768px) {
    .paragraph-3 ,
    .paragraph-4 {
        padding-top: 3%;
        font-size: 10px;
    }
}

@media (max-width: 576px) {
    .paragraph-3 ,
    .paragraph-4 {
        padding-top: 3%;
        font-size: 8px;
    }
}

/*paragraph 3 paddings*/

@media (max-width: 1200px) {
    .paragraph-3{
        padding-left:15%;
    }
}


@media (max-width: 992px) {
    .paragraph-3{
        padding-right:15%;
        padding-bottom: 1%;
    }
}


@media (max-width: 768px) {
    .paragraph-3{
        padding-right:15%;
        padding-bottom: 1%;
    }
}

@media (max-width: 576px) {
    .paragraph-3 {
        padding-right:15%;
        padding-bottom: 1%;
    }
}

/*paragraph 4 paddings*/

@media (max-width: 1200px) {
    .paragraph-4{
        padding-right:15%;
    }
}


@media (max-width: 992px) {
    .paragraph-4{
        padding-left:15%;
        padding-bottom: 1%;
    }
}


@media (max-width: 768px) {
    .paragraph-4{
        padding-left:15%;
        padding-bottom: 1%;
    }
}

@media (max-width: 576px) {
    .paragraph-4 {
        padding-left:15%;
        padding-bottom: 1%;
    }
}
